
.aboutUs-container {
  padding-top: 10px;
  width: 100vw;

}
.aboutUs-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../Images/grafiki/fala biala.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #509AEE;
  opacity: 0.8;
  margin-top: 70px;
  height: 400px;
  border-radius: 20px;

  .aboutUs-header{
    font-family: "Roboto Light";
    font-size: 50px;
    margin-top: 20px;
    color:#ffffff;
  }
  .aboutUs-text {
    margin: 0 70px;
    width: 1200px;
    color: #ffffff;
    font-size: 24px;
    font-family: "Roboto Light";
  }
}