
.aboutUs-container {
  width: 100vw;

}
.aboutUs-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #241269;
  border-radius: 5px;
  padding-bottom: 50px;

  .aboutUs-header{
    font-family: "Roboto Light",robotolight,sans-serif;
    font-size: 50px;
    margin: 20px 0;
    color:#FFFFFF;

  }

}
.aboutUs-subcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;

  .aboutUs-text {
    color: #383D46;
    font-size: 16px;
    font-family: "Roboto Light", robotolight, sans-serif;
    width: 50%;
    background-color: #00B8C3;
    padding: 30px 30px;
    z-index: 300;
    margin-top: 150px;
    border-radius: 5px;
    overflow: hidden;
  }
  .aboutUs-img {
    max-width: 100%;
    img{
      max-width: 600px;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1030px) {
  .aboutUs-section{
    padding-bottom: 30px;
    .aboutUs-header{
      font-size: 35px;
    }
  }
  .aboutUs-subcontainer{
    flex-direction: column;
    .aboutUs-text {
      font-size: 12px;
      font-family: "Roboto Light", robotolight, sans-serif;
      width: 50%;
      margin: 15px 0;
    }
  }
}
