.footer-container{
  width: 100vw;
  height: 100px;
  background-color: #509AEE;
  display: flex;
  justify-content: space-between;
  .img-header{
    height: 50px;
    width: 200px;
    background-image: url("../../Images/logo/logoWhite.png");
    background-repeat: no-repeat;
    background-size: contain;
  }


}