
.footer-container{
  width: 100vw;
  height: 80px;
  background-color: #241269;

  .footer-align{
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .img-header{
    height: 50px;
    width: 200px;
    background-image: url("../../Images/logo/logoWhite.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15px;

  }
  .footer-copyrights{
    color: #FFFFFF;
    font-family: "Roboto Light";
    font-size: 14px;
  }


}
