

.container {
  box-sizing: border-box;
  width: 100vw;
  font-family: robotoregular, Arial, sans-serif;
}

.container.waves {
  height: 650px;
  background-image: linear-gradient(to bottom, #2e87ec, #2e87ec, #2e87ec, #2e87ec, #2e87ec, #378bec, #408fed, #4893ed, #599ced, #69a5ed, #78aeed, #88b7ec);
  .top-container {
    max-width: 1200px;
    margin: 0 auto;
    width:90%;
  }
}

.container.body {
  //height: 650px;
  max-width: 1200px;
  margin: 0 auto;
  //width: 90%;
}

@media (max-width: 1000px) {
  .container.waves {
    height: 400px;
  }
}

@media (max-width: 800px){
 .waveWrapper {
    display: none;
  }
}

