.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //margin-bottom: -125px
}

.banner-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}

.form-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.banner-text-box {
  margin-bottom: 120px;
  width: 500px;
  color: white;
  font-family: "Roboto Light", sans-serif;

  h1 {
    font-size: 50px;
    word-spacing: 1px;
    font-weight: lighter;
    margin-top: 50px;
  }

  span {
    margin: 30px 0;
    font-size: 30px;
    font-family: "Roboto Light", sans-serif;

  }

  button {
    width: 220px;
    height: 56px;
    background-color: #B942DB;
    overflow: hidden;
    text-align: center;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 1px 5px lightgray;
    font-family: "Roboto Light";
    margin: 30px 0;
    transition: all 1s;
    cursor: pointer;
    outline: none;
    &:hover{
      background-color: #36BBBB;
    }

  }
}

.banner-img {
  box-shadow: 0 5px 10px #6D7278;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}
